/*Responsivo nos seguintes dispositivos: google chrome, tablets (paisagem e retrato), smartphone*/
@media screen and (max-width: 100em),(max-width: 1024px), (max-width: 768px)
{
    body
    {
        background-color: blueviolet;
        margin: 0px;
        text-align: center;
    }

    nav
    {
        margin: 0px;
        padding: 15px;
        color: white;
        background: #AE57FF;
    }
    
    #homecomunica
    {
        font-weight: bold;
        font-family: serif;
        font-size: 20pt;
        text-align: center;
        margin-right:38em;
    }

    #sub_menu, .menuRegister, .menuLogin
    {
        font-size: 16pt;
        margin: 0px;
        padding: 3px;
        color: white;
        background: #AE57FF;
        font-weight: bold;
        font-family: serif;
        border: none;
    }
    
    table tr td.firstLine
    {
       padding-right: 1em;
       padding-left: 10px;
    }
    
    .menuRegister
    {
       
    }
    
    a:link, a:visited, a:active
    {
        color: white;
        text-decoration: none;
    }
    
    #formLogin
    {
        display: inline-block;
        padding: 1.5em 5% 3em 5%;
        margin:4.9%;
        color: white;
        font-weight: bold;
        font-family: serif;
        font-size: 18pt;
        border: solid white 5px;
        border-radius: 5px;
        background-color: #C72BE2;
        width: 250px;
        height: 170px;
    }

    #esqueceuSenha:link, #esqueceuSenha:visited
    {
        font-size: 15pt;
        font-family: sans-serif;
        float: right;
        margin-top: 8px;
    }
    legend
    {
        margin-bottom: 1em;
        font-weight: bold;
        background-color: white;
        color:#4B0082;
        border-radius: 4px;
    }
    .buttonLogin
    {
        padding: 10px;
        background-color: white;
        font-size: 14pt;
        font-family: sans-serif;
        border-radius: 5px;
        border: 3px solid black;
        font-weight: bold;
        margin-left: 2.5em;
        margin-bottom: 2em;
    }

    .buttonFormRegister
    {
        padding: 10px;
        background-color: white;
        font-size: 14pt;
        font-family: sans-serif;
        border-radius: 5px;
        border: 3px solid black;
        font-weight: bold;
    }

    #formRegister
    {
        display: inline-block;
        padding: 1.5em 5% 3.5em 5%;
        margin:1.15em;
        color: white;
        font-weight: bold;
        font-family: serif;
        font-size: 18pt;
        border: solid white 5px;
        border-radius: 5px;
        background-color: #C72BE2;
        max-width: 275px;
        max-height: 310px;
    }

    .buttonRegister
    {
        padding: 10px;
        background-color: white;
        font-size: 14pt;
        font-family: sans-serif;
        border-radius: 5px;
        border: 3px solid black;
        font-weight: bold;
    }

}

@media screen and (max-width: 480px)
{
    #formRegister
    {
        display: inline-block;
        padding: 1.5em 5% 3.5em 5%;
        margin:1.15em;
        color: white;
        font-weight: bold;
        font-family: serif;
        font-size: 18pt;
        border: solid white 5px;
        border-radius: 5px;
        background-color: #C72BE2;
        max-width: 275px;
        max-height: 550px;
    }

    #formLogin
    {
        display: inline-block;
        padding: 1.5em 5% 3em 5%;
        margin:8%;
        color: white;
        font-weight: bold;
        font-family: serif;
        font-size: 18pt;
        border: solid white 5px;
        border-radius: 5px;
        background-color: #C72BE2;
        width: 250px;
        max-height: 170px;
    }
}



